# dependencies
node_modules
store-web/.pnp
.pnp.js
.yarn/install-state.gz

# testing
store-web/coverage

# next.js
.next
store-web/out

# production
dist
store-web/build

# misc
*.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

#  
.env

# test report
store-service/coverage.out
store-service/coverage.xml
store-service/report.xml
point-service/coverage
atdd/api/newman

# python
.venv/

# mountebank
mb*.log

# secrets
deploy/k8s/app/secrets.yml

# terraform
deploy/terraform/.terraform/
deploy/terraform/.terraform.lock.hcl
deploy/terraform/terraform.tfstate
deploy/terraform/terraform.tfstate.*

# load test output
atdd/load-test/report/
atdd/load-test/report-*/
atdd/load-test/results.jtl
atdd/load-test/results-*.jtl
jmeter.log

# EKS postman environment
atdd/api/sck-online-store.eks.postman_environment.json

# compiled binary
store-service/main

# python cache
__pycache__/